body{
    font-family:"Arial", sans-serif; 
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0px auto;
    padding: 0px;
     width: 100%;
    }
    
    h1{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: .2em;
    float: left;
    }
    
    .alert{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    background-color:#FF0404;
    }
    
    p{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    }
    list{
    list-style-type: disc;
    padding: 0px 0px 8px;
    }
    
    header{
        background-color: #ffffff;
        width: 100%;
        margin: 0px auto;
        
    }
    #logo{
        display: block;
        align-items: center;
        margin: 0px auto;
        padding: 5px;
    }
    header:before {
    content: " ";
    display: table;
     }
    header:after {
    content: "";
    display: block;
    clear:both;
     }
    footer{
    display: block;
    font-style: italic;
    font-size: 10px;
    text-align: center;
    }
    article{
        border-bottom: 1px solid black;
        padding: 10px 20px;
    }
    
    .menuBtn{
    color: White;
    font-size: 12px;
    font-weight: Bold;
    Line-height: 22px;
    Text-decoration: none;
    Text-Transform: uppercase;
    Letter-spacing: 0.1em;
    Padding: 0px 10px;
    Background: #4e4e4e;
    Height: 22px;
    Float: Right;
    }
    
    .map-responsive{
        overflow:hidden;
        padding-bottom:100%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    
    .navbar {
      overflow: hidden;
      background-color: #ffffff;
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    
    .navbar a {
      width: 20%;
      color: #2D3172;
      text-align: center;
      display: inline-block;
      padding: 10px 12px ;
      text-decoration: none;
      font-size: 12px;
      margin: 0px auto;
    }
    
    
    ul #top_nav{list-style: none;}
    
    #main_nav a.active{
        background-color: #4F5293;
    }
    main_nav li a:hover {
    color: #ffffff;
    width: auto;
    background-color:#B9DED8 ;
    }
    @media only screen and (min-width: 768px) {
     .menuBtn {
     display: none;
     }
     #main_nav {
     position: absolute;
     top: -5px;
     right: 10px;
     background: none;
     }
     #main_nav li {
     display: inline;
     }
     #main_nav li a {
     float: left;
     border: none;
     padding: 0 10px;
     }
    #main_nav li.top {
     display: none;
    }
    }
    
    