/* Main styles */
body{
  font-family:"Arial", sans-serif; 
  color: #000000;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0px auto;
  padding: 0px;
  /* max-width: 700px; */
  /* min-height: 100vh; */
}

main{
  /* margin: 0;
  background-color: white;
  padding: 50px 10px;
  min-height: 400px; */
  height: 585px;
}

.map-main{
  margin: 0;
  padding: 0;
}
    
    h1{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: .2em;
    }
    
    .alert{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    background-color:#FF0404;
    }
    
    p{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    }
    list{
    list-style-type: disc;
    padding: 0px 0px 8px;
    }
    
    header{
        background-color: #ffffff;
        width: 100%;
        margin: 0px auto;
        padding: 10px 0;
        border-bottom: 2px solid #2D3172;
        
    }
    #logo{
        display: block;
        align-items: center;
        margin: 0px auto;
        padding: 5px;
    }
    header:before {
    content: " ";
    display: table;
     }
    header:after {
    content: "";
    display: block;
    clear:both;
     }
footer{
   position: fixed;
    bottom: 0;
    width: 375px;
    z-index: 1;  
     /* display: block;
    font-style: italic; */
    font-size: 10px;
    text-align: center;
    box-shadow: 0px -2px 10px 2px #00000024;
    background-color: white;
}
    article{
        border-bottom: 1px solid black;
        padding: 10px 20px;
    }
    
    .menuBtn{
    color: White;
    font-size: 12px;
    font-weight: Bold;
    Line-height: 22px;
    Text-decoration: none;
    Text-Transform: uppercase;
    Letter-spacing: 0.1em;
    Padding: 0px 10px;
    Background: #4e4e4e;
    Height: 22px;
    Float: Right;
    }
    
    .map-responsive{
        overflow:hidden;
        padding-bottom:100%;
        position:relative;
        height: 100%;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
/* Home page */
.warning button{
  width: 100%;
  background: red;
  color: white;
  font-size: 2em;
}

/* Legend styles */
.search-bar{
  position: absolute;
  top: 195px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.search-bar .searchbar{
  width: 85%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-align: center;
}
.search-bar button{
  width: 80%;
  height: 30px;
  padding: 0 15px;
  border-radius: 7px;
  border: none;
  color: #0000005e;
  box-shadow: 0px 0px 11px 6px #0000001a;
}
.search-bar input::placeholder { 
  color: #0000005e; 
}
#acctphoto{border-radius: 50px}


/*.legend{
  position: absolute;
  bottom: 150px;
  right: 100px;
  flex-direction: column;
  background-color: white;
  width: 100px;
  border-radius: 7px;
  box-shadow: 0px 0px 11px 6px #0000001a;
  padding: 10px 0;
}

.legendkey{
  padding: 2px 0;
  text-align: center;
  color: white;
  margin: 0;
}
.major{
  background-color: #29A690;
}
.minor{
  background-color: #2D1973;
}

.legend-icons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 5px;
}
.legend-icons img{
  margin: 5px;
}*/
    .navbar {
      overflow: hidden;
      background-color: #ffffff;
      /* position: fixed;
      bottom: 0; */
	    width: 100%;
      margin: 0px auto;
	    padding: 0px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    
    }
.navbar li{ 
	padding: 0px;
	list-style-type: none;}
    
    .navbar a {
      color: #2D3172;
      text-align: center;
      padding: 10px 15px ;
      text-decoration: none;
      font-size: 12px;
      margin: 0px auto;
	  float: left;
	  display: flex;
	flex-direction: column;
    }

.copyright{
  margin:0;
}

.inner-container {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  max-height: 250px;
}

.intro-text {
  color: #2D3172;
  text-transform: uppercase;
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}

.sub-text {
  font-weight: 300;
  margin-bottom: 20px;
}

.log-in-btn {
  font-size: 20px;
  position: relative;
  width: 330px;
  height: 60px;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

.login-btn { 
background-color: #29A690;
color:#ffffff;
}
.signup-btn { 
background-color: #4F5293;
color:#ffffff;}

.fa-login,
.fa-signup {
  position: absolute;
  left: 20px;
}
#benefits{
	color: #2D3172;
	text-align: left;
	padding: 0px 40px;
	margin: 0px auto;
}

input:focus {
  outline: none;
}

    @media only screen and (min-width: 768px) {
     .menuBtn {
     display: none;
     }
     #main_nav {
     position: absolute;
     top: -5px;
     right: 10px;
     background: none;
     }
     #main_nav li {
     display: inline;
     }
     #main_nav li a {
     float: left;
     border: none;
     padding: 0 10px;
     }
    #main_nav li.top {
     display: none;
    }
    }
    
    
/* FAQ STYLES */
.page-title{
  color: #2D1973;
  font-size: 3em;
  text-align: center;
  margin: 10px;
  line-height: 40px;
}
.search{
  text-align: center;
  padding: 20px 0;
}
.search input[type="search"]{
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  padding: 5px 10px;
  width: 75%;
}
#accordion{
  /* width: 550px; */
  margin: 0 auto;
}
.ui-accordion .ui-accordion-header{
  background-color: #B9DED8;
  border: none;
  max-width: 600px;
}
.ui-accordion .info{
  height: 100px;
}

/* INFO PAGE STYLES */

.Majorheader {
  text-align: center;
  /* margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px; */
  background-color: #28A690;
  /* height: 50%; */
  /* margin-bottom: 5px; */
  margin: 0;
}
.major.information {
  background-color: #FFFFFF;
  margin: 0 10px;
}
.supplies {
  background-color: #28A690;
  text-align: center;
  /* height: 50%; */
  /* margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 5px; */
}
.supplieslist {
  background-color: #FFFFFF;
}

.minorheader {
  /* height: 50%; */
  /* margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px; */
  text-align: center;
  background-color: #28A690;
  /* margin-bottom: 5px; */
}
.minorinformation {
  background-color: #FFFFFF;
}
.closings{
  display: flex;
  justify-content: space-around;
}
.business {
  /* width: 50%; */
  text-align: center;
  background-color: #28A690;
  /* margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 5px; */
}
.businessclosing {
  width: 50%;
  background-color: #FFFFFF;
  margin: 0 5px;
}

.School {
  /* margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 5px; */
  /* width: 50%; */
  /* left: 50px; */
  text-align: center;
  background-color: #28A690;
  /* float: right; */
}
.Schoolclosing {
  width: 50%;
  /* float: right; */
  background-color: #FFFFFF;
  margin: 0 5px;
}

.breakline{
  border-bottom: 1px solid black;
}

/* Clinic Styles */


/*clinics page styling*/
.clinics{
	display: flex;
	justify-content: space-evenly;
}
.images {
	float:left;
    width: 80px;
	display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.images img{
	margin-bottom: 10px;
	margin-top:10px;
}

.clinic_info{
	width:65%;
	display:block;
	margin: 1px 5px 0px 10px;
}

.clinic_info p{
	margin:10px 0px 17px 5px;
	color:black;
}

.call {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.call button {
	background-color:#29A690;
	border:none;
	display:block;
	margin:0px 10px 90px 0px;
}

.appt {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.appt button {
	background-color:#29A690;
	border:none;
	display:block;
	margin:0px 10px 90px 0px;
}
 
button:hover {
	background-color:#2D3072;
	color:white;
	border:none;
}



