body{
  font-family:"Arial", sans-serif; 
  color: #000000;
  background: #B9DED8;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0px auto;
  padding: 0px;
  max-width: 700px;
  /* min-height: 100vh; */
}

main{
  min-height: 750px;
  margin: 0;
  background-color: white;
}
    
    h1{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: .2em;
    }
    
    .alert{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    background-color:#FF0404;
    }
    
    p{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    }
    list{
    list-style-type: disc;
    padding: 0px 0px 8px;
    }
    
    header{
        background-color: #ffffff;
        width: 100%;
        margin: 0px auto;
        padding: 10px 0;
        border-bottom: 2px solid #2D3172;
        
    }
    #logo{
        display: block;
        align-items: center;
        margin: 0px auto;
        padding: 5px;
    }
    header:before {
    content: " ";
    display: table;
     }
    header:after {
    content: "";
    display: block;
    clear:both;
     }
footer{
    position: fixed;
    bottom: 0;
    width: 700px;
    z-index: 1;  
    display: block;
    font-style: italic;
    font-size: 10px;
    text-align: center;
    box-shadow: 0px -2px 10px 2px #00000024;
}
    article{
        border-bottom: 1px solid black;
        padding: 10px 20px;
    }
    
    .menuBtn{
    color: White;
    font-size: 12px;
    font-weight: Bold;
    Line-height: 22px;
    Text-decoration: none;
    Text-Transform: uppercase;
    Letter-spacing: 0.1em;
    Padding: 0px 10px;
    Background: #4e4e4e;
    Height: 22px;
    Float: Right;
    }
    
    .map-responsive{
        overflow:hidden;
        padding-bottom:100%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
/* Home page */
.warning button{
  width: 100%;
  background: red;
  color: white;
  font-size: 2em;
}

/* Legend styles */
.search-bar{
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 650px;
  margin: 0 auto;
  text-align: center;
}
.search-bar button{
  width: 80%;
  height: 30px;
  padding: 0 15px;
  border-radius: 7px;
  border: none;
  color: #0000005e;
  box-shadow: 0px 0px 11px 6px #0000001a;
}
.search-bar input::placeholder { 
  color: #0000005e; 
}

.legend{
  position: absolute;
  bottom: 150px;
  right: 100px;
  flex-direction: column;
  background-color: white;
  width: 100px;
  border-radius: 7px;
  box-shadow: 0px 0px 11px 6px #0000001a;
  padding: 10px 0;
}

.legendkey{
  padding: 2px 0;
  text-align: center;
  color: white;
  margin: 0;
}
.major{
  background-color: #29A690;
}
.minor{
  background-color: #2D1973;
}

.legend-icons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 5px;
}
.legend-icons img{
  margin: 5px;
}
    .navbar {
      overflow: hidden;
      background-color: #ffffff;
      /* position: fixed;
      bottom: 0; */
	    width: 100%;
      margin: 0px auto;
	    padding: 0px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    
    }
.navbar li{ 
	padding: 0px;
	list-style-type: none;}
    
    .navbar a {
      color: #2D3172;
      text-align: center;
      padding: 10px 15px ;
      text-decoration: none;
      font-size: 12px;
      margin: 0px auto;
	  float: left;
	  display: flex;
	flex-direction: column;
    }

.copyright{
  margin:0;
}

.inner-container {
  width: 90%;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.intro-text {
  color: #2D3172;
  text-transform: uppercase;
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}

.sub-text {
  font-weight: 300;
  margin-bottom: 20px;
}

.log-in-btn {
  font-size: 20px;
  position: relative;
  width: 350px;
  height: 60px;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

.login-btn { 
background-color: #29A690;
color:#ffffff;
}
.signup-btn { 
background-color: #4F5293;
color:#ffffff;}

.fa-login,
.fa-signup {
  position: absolute;
  left: 20px;
}
#benefits{
	color: #2D3172;
	text-align: center;
	padding: 0px 40px;
	margin: 0px auto;
  height: 375px;
}

input:focus {
  outline: none;
}

    @media only screen and (min-width: 768px) {
     .menuBtn {
     display: none;
     }
     #main_nav {
     position: absolute;
     top: -5px;
     right: 10px;
     background: none;
     }
     #main_nav li {
     display: inline;
     }
     #main_nav li a {
     float: left;
     border: none;
     padding: 0 10px;
     }
    #main_nav li.top {
     display: none;
    }
    }
    
    
/* FAQ STYLES */
.page-title{
  color: #2D1973;
  font-size: 3em;
  text-align: center;
  margin: 10px;
  line-height: 40px;
}
.search{
  text-align: center;
  margin: 15px;
}
.search input[type="search"]{
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  padding: 5px 10px;
  width: 75%;
}

.ui-accordion .ui-accordion-header{
  background-color: #2DA690;
  border: none;
}